body{
    background-color: rgb(230, 243, 255);
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }

  .img-social {
    height: 40px;
    width: 40px;
  }

  td{
    text-align: center;
  }
  #test {
    text-align: right;
  }
  tr:hover {background-color: coral;}

  .fruits-table
    {
      background-color: rgb(145, 235, 145);
      opacity: 0.8;
    }

 #h3-table {
   color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  li {
    list-style: none; 
  }
  
li:first-child::before{
  content: "\2746" ;
}

li:last-child::before{
  content: "\2746" ;
}

li:nth-child(2n):before{
  content: "\6246";
}

li:nth-child(3n):before{
  content: "\2746";
}