body{
   
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }

  .img-social {
    height: 40px;
    width: 40px;
  }

  td{
    text-align: center;
  }
  #test {
    text-align: right;
  }
  tr:hover {background-color: coral;}

  .fruits-table
    {
      background-color: rgb(145, 235, 145);
      opacity: 0.8;
    }

 #h3-table {
   color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

  }
  
  .listfruit li {
    list-style: none; 
    
  }
  
.listfruit li:first-child::before{
  content: "\2746" ;
}

.listfruit li:last-child::before{
  content: "\2746" ;
}

.listfruit li:nth-child(2n):before{
  content: "\6246";
}

.listfruit li:nth-child(3n):before{
  content: "\2746";
}

input[type=text]:disabled {
  background: #4b4b48;
}

input:focus{
  background-color: pink;
  border-color: red;
}

input:checked{
accent-color: yellow;
}

.card-img-top{
  border: solid;
  color: aliceblue;
  border-radius: 25px!important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-text{
  border:solid;
  border-color:aliceblue;
  border-radius:20px;
}

#contactForm{
  background-color: aliceblue;
  box-shadow: 15px 15px 10px rgb(192, 230, 243);
  margin-top: 20px;
}